<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Date</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>

<body>
      <div id="app" class="container-fluid content">

       
       <div class="header-nysl"> 
        <div class="row justify-content-center contenido main-page">
            <div id="accordion" class="col col-md-9">
                
                <div class="card">
                    <h5 class="mb-0">
                        <button class="btn btn-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <b>FIXTURE</b>
                        </button>
                    </h5>

                   
                    
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-bodyY">
                            
                                <div class="card" v-for="(division, key) in divisions">
                                    <div  style="text-align: center" >
                                        
                                            <button class="btn btn-dark btn-lg btn-block" data-toggle="collapse" v-bind:data-target=" '#' + key" aria-expanded="false" aria-controls="collapseOne1">
                                                <b>{{key}}</b>
                                            </button> 
                                       
                                    </div>
                                    
                                
                                    <div v-bind:id="key" class="collapse" aria-labelledby="headingOne" data-parent="#collapseOne">
                                        <div class="card-bodyU text-center d-flex justify-content-center">
                                            <table class="table table-striped table-sm" style= "margin-bottom: 0px;">
                                                <tbody> 
                                                    <tr class="text-center" v-for="match in division">
                                                    
                                                        <th scope="col-1 col-sm-1">
                                                            <sup>
                                                                <ul>{{match.date_day}}/{{match.date_month}}
                                                                </ul>
                                                            </sup>
                                                        </th>
                                                  
                                                            <td scope="col-11 col-sm-11"><button class="gameDetail-link" v-on:click="searchGame(match)">{{match.home_team}} <b>vs</b> {{match.away_team}}</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                   
                  </div>
               </div>
             </div>       
         </div>  
    
                
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="data.js"></script>
    <script src="main.js"></script>
    
</body>
</html>
